@require '../../node_modules/codemirror/lib/codemirror.css'
@require '../../node_modules/codemirror/addon/dialog/dialog.css'
// @require '../../node_modules/codemirror/theme/monokai.css'

body
  display flex
  flex-direction column
  flex 1

.code-editor-container
  flex 1
  position relative

  textarea
    opacity 0

.code-editor + .CodeMirror
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height auto
  font-size 14px
