doctype html
html
  head
    title TypeScript API browser
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="index.css")
    link(rel="stylesheet",href="railscasts.css")

  body
    nav
      form
        input(type="search",placeholder="Search",minlength="3",autofocus)
      .defs
        ul

    main
      article.no-results
        header Search results
        p No results found.

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="index.js")
