@import "nib"

body
  display flex

nav
  width 250px
  background #ddd
  border-right 1px solid #ccc
  
  display flex
  flex-flow column
  
  input[type=search]
    border none
    padding 0.5em
    width 100%
    border-bottom 1px solid #ccc

  .defs
    flex 1
    position relative
    overflow-y auto

  .defs ul
    list-style none
    margin 0
    padding 0.5em

  .defs li
    padding 0
    margin 0

  .defs a
    display block
    color #444
    padding 0.25em 0.5em
    text-decoration none

    &:hover
      background #ccc

    &.active
      background #444
      color #eee

main
  flex 1
  display flex
  flex-flow column

article
  flex 1
  display none
  &.active { display: block; }
  header { font-size: 24pt; }
  overflow-y auto

  &:not(.no-results) { background: #474747; }
  &.no-results { padding: 1em; }

article pre
  white-space pre-wrap
  font-family "Consolas", monospace
  font-size 16px
  color #dadada
  user-select text
  margin 0
  padding 1em
