@import "nib"

body
  display flex

nav
  width 250px
  overflow-y auto
  position fixed
  top 0
  background #ddd
  bottom 0

  ul
    list-style none
    margin 0
    padding 0.5em

  li
    padding 0
    margin 0

  a
    display block
    color #444
    padding 0.25em 0.5em
    text-decoration none

    &:hover
      background #ccc

    &.active
      background #444
      color #eee

main
  margin-left 250px
  padding 1em
  flex 1

section
  display none

  &.active
    display initial

section header
  font-size 24pt

section pre
  white-space pre-wrap
  font-family "Consolas", monospace
  font-size 16px
  background #474747
  color #dadada
  padding 1em
  user-select text
