player/**/*.js
SupEngine/**/*.js
SupRuntime/**/*.js

public/templates.json
public/plugins.json
public/*.html
public/*.css
public/*.js

plugins/*
!plugins/default
!plugins/extra
plugins/**/*.html
plugins/**/*.css
plugins/**/*.js

!*Gulpfile.js
!gulpfile.js
!TransformControls.js
!rng.js

**/node_modules
