player/**/*.js
SupEngine/**/*.js
SupRuntime/**/*.js
public/templates.json
public/plugins.json
public/*.html
public/*.css
public/*.js
plugins/*
!plugins/default
!plugins/extra
plugins/**/*.html
plugins/**/*.css
plugins/**/*.js
!plugins/**/*Gulpfile.js
**/node_modules
