**/node_modules
player/**/*.js
SupEngine/**/*.js
SupRuntime/**/*.js
public/templates.json
public/plugins.json
public/*.html
public/*.css
public/*.js
plugins/**/*.html
plugins/**/*.css
plugins/**/*.js
!plugins/**/*Gulpfile.js
