doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      .model-container
        .controls
          .transform-settings
            .title Settings
            div
              input#translate-pivot-shape(type="checkbox",checked)
              label(for="translate-pivot-shape") Link shape to pivot
          .transform-mode
            .title Transform
            div
              input#transform-mode-translate-pivot(type="radio",name="transformMode",value="translate",data-target="pivot",checked)
              label(for="transform-mode-translate-pivot") Move pivot
              input#transform-mode-translate-shape(type="radio",name="transformMode",value="translate",data-target="shape")
              label(for="transform-mode-translate-shape") Move shape
              input#transform-mode-rotate(type="radio",name="transformMode",value="rotate")
              label(for="transform-mode-rotate") Rotate
              input#transform-mode-stretch(type="radio",name="transformMode",value="stretch")
              label(for="transform-mode-stretch") Stretch
              input#transform-space(type="checkbox")
              label(for="transform-space") Local
          .grid
            .title Grid
            div
              label(for="grid-step") Size
              input#grid-step(type="number",value="1",min="0")
              input#grid-visible(type="checkbox")
              label(for="grid-visible") Visible
        canvas(tabindex="0")

      .texture-container
        .controls
          div
            .title Brush
            div
              label Color
              input#brush-color(type="color")

        canvas(tabindex="0")

    .sidebar
      table.settings.properties
        tr
          th(colspan="2") Cubic Model
        tr
          th Pixels per unit
          td
            input.property-pixelsPerUnit(type="number")
        tr
          th Texture size (px)
          td
            .inputs
              select.property-texture-width
              select.property-texture-height

      .header
        span Nodes

      .nodes-buttons
        button.new-node New Node
        button(disabled).rename-node Rename
        button(disabled).duplicate-node Duplicate
        button(disabled).delete-node Delete

      .nodes-tree-view
      .inspector(hidden)
        table
          tbody.transform
            tr.position
              th.label  Position
              td
                .inputs
                  input(type="number").x
                  input(type="number").y
                  input(type="number").z
            tr.orientation
              th.label Orientation
              td
                .inputs
                  input(type="number").x
                  input(type="number").y
                  input(type="number").z
          tbody.shape
            tr
              th(colspan="2") Shape
            tr.type
              th Type
              td
                select
                  // option(value="") (None)
                  option(value="box") Box
            tr.offset
              th Offset
              td
                .inputs
                  input(type="number").x
                  input(type="number").y
                  input(type="number").z
          tbody.box-shape
            tr.size
              th Size
              td
                .inputs
                  input(type="number").width
                  input(type="number").height
                  input(type="number").depth
            tr.stretch
              th Stretch
              td
                .inputs
                  input(type="number").width
                  input(type="number").height
                  input(type="number").depth

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="../../../transformHelpers/components.js")
    script(src="index.js")
