doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      canvas(tabindex="0")
      .controls
        .transform-mode
          .label Transform
          input#transform-mode-translate(type="radio",name="transformMode",value="translate",checked)
          label(for="transform-mode-translate") Move
          input#transform-mode-rotate(type="radio",name="transformMode",value="rotate")
          label(for="transform-mode-rotate") Rotate
          input#transform-mode-scale(type="radio",name="transformMode",value="scale")
          label(for="transform-mode-scale") Scale
          input#transform-space(type="checkbox")
          label(for="transform-space") Local

    .sidebar
      table.settings
        tr
          th Unit ratio
          td
            input(type="number")
      .nodes-buttons
        button.new-node New Node
        button(disabled).rename-node Rename
        button(disabled).duplicate-node Duplicate
        button(disabled).delete-node Delete

      .nodes-tree-view
      .inspector.no-selection
        table
          tr.position
            th.label  Position
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.orientation
            th.label Orientation
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.scale
            th.label Scale
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr
            th Shape
          tr
            th Type
            td
              select

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
