@import "nib"

body
  display flex

.main
  flex 1
  display flex
  flex-flow column

  canvas
    background #000
    flex 1

.controls
  display flex
  align-items center
  flex-wrap wrap
  white-space nowrap
  overflow hidden

  > div
    border-top 1px solid rgba(0,0,0,0.3)
    border-left 1px solid rgba(0,0,0,0.3)
    display flex
    align-items center
    height 31px
    flex auto 1 0

  > div > div
    display flex
    align-items center
    height 30px
    padding-right 0.5em
    flex auto 0 0

  > div > .title
    text-transform uppercase
    color #666
    padding-left 0.5em
    margin-right 0.5em
    background #ddd
  
  > div > div > label
    padding-right 0.5em

  input[type=number]
    width 50px

.sidebar
  width 250px
  min-width 200px
  max-width 500px

  display flex
  flex-flow column

.nodes-buttons
  display flex

  button
    flex 1
    font-size smaller
    white-space nowrap

.nodes-tree-view
  min-height 100px
  height 300px
  position relative
  background #fff
  overflow-y auto

  .tree
    position absolute

  .name
    white-space pre
    flex 1
    text-overflow ellipsis
    overflow-x hidden

    &.prefab
      color #44d

  button
    font-size smaller
    border none
    margin-right 0.25em

  li:not(:hover)
    button.show { display: none; }

.inspector
  min-height 100px
  overflow-y auto
  flex 1
  flex-basis 0

.components-buttons
  display flex

  button
    flex 1
    padding 0.25em

.components
  .header
    display flex
    background #444
    color #fff

    .type
      flex 1
      padding 0.5em

    button
      width 30px
      background transparent
      border none
      opacity 0.5
      font-size 20px
      font-weight bold
      cursor pointer
      color #fff

      &:hover
        opacity 1
        background-color rgba(0,0,0,0.1)

      &:active
        background-color #fff
        color #444

      &:disabled
        opacity 0.2
        cursor default

.inspector tr.prefab div
  display flex
  > input { flex: 1; }
