@import "nib"

body
  display flex

.main
  display flex
  flex-flow column

  canvas
    flex 1

  .controls
    height 30px
    padding 5px
    display inline-flex

    label
      padding 2px

.sidebar
  width 250px
  min-width 200px
  max-width 500px
  border-right 1px solid #aaa

  display flex
  flex-flow column

.nodes-buttons
  display flex

  button
    flex 1
    font-size smaller
    white-space nowrap

.nodes-tree-view
  min-height 100px
  height 300px
  position relative
  background #fff
  overflow-y auto

  .tree
    position absolute

  .name
    white-space pre
    flex 1

  button
    font-size smaller
    border none
    margin-right 0.25em

  li:not(:hover)
    button
      &.show { visibility: hidden; }

.inspector
  min-height 100px
  overflow-y auto
  flex 1
  .transform
    padding 0.25em

    .label
      padding 0.25em

    .values
      display flex

      > input
        flex 1
      > input:not(:last-of-type)
        border-right 1px solid #ccc

  &.noSelection
    visibility hidden

.components-buttons
  display flex

  button
    flex 1
    padding 0.25em

.components
  .header
    display flex
    background #444
    color #fff

    .type
      flex 1
      padding 0.5em

    button
      width 30px
      background transparent
      border none
      opacity 0.5
      font-size 20px
      font-weight bold
      cursor pointer
      color #fff

      &:hover
        opacity 1
        background-color rgba(0,0,0,0.1)

      &:active
        background-color #fff
        color #444

      &:disabled
        opacity 0.2
        cursor default

.inspector table
  width 100%
  border-collapse collapse
  font-size 12px

  th, td
    border 1px solid #ccc

  th
    text-align left
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis
    font-weight normal
    background #eee
    padding 0 0.5em

    > div
      display flex
      align-items center
    > div > div
      flex 1
      white-space nowrap
      overflow-x hidden
      text-overflow ellipsis
      max-width 100px

    &:only-child
      background #777
      color #eee
      padding 0.5em

  td input, td select, td textarea
    width 100%
    margin 0
    padding 0.5em 0.25em
    border none

  td select
    padding 0.25em 0

  td input[type=checkbox]
    width auto
    margin 0.5em
    cursor pointer

  td
    .inputs
      display flex

      input:not(:last-of-type)
        border-right 1px solid #ccc

  td input.color
    font-family consolas, monospace

.main
  flex 1
  display flex

  canvas
    background #000
    flex 1
