doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

    template#component-cartridge-template
      .header
        .type
        button.delete-component x
      table
        tbody.settings

  body
    .sidebar
      .nodes-buttons
        button.new-node New Actor
        button.rename-node Rename
        button.duplicate-node Duplicate
        button.delete-node Delete

      .nodes-tree-view

      .inspector.noSelection
        .transform
          .position
            .label Position
            .values
              input(type="number").x
              input(type="number").y
              input(type="number").z
          .orientation
            .label Orientation
            .values
              input(type="number").x
              input(type="number").y
              input(type="number").z
          .scale
            .label Scale
            .values
              input(type="number").x
              input(type="number").y
              input(type="number").z
        .components-buttons
          button.new-component New Component
        .components
    .main
      canvas(tabindex="0")

    script(src="/system/SupEngine.js")
    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="../../componentEditors.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
