doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

    template#component-cartridge-template
      .header
        .type
        button.shrink-component –
        button.delete-component ×
      table.settings
        tbody

  body
    .main
      canvas(tabindex="0")
      .controls
        label(for="toggle-camera-button") Camera Mode
        button.toggle-camera-button 3D
        input(type="range", min=0.05, max=2.0, step=0.05).camera-speed-slider

    .sidebar
      .nodes-buttons
        button.new-node New Actor
        button.rename-node Rename
        button.duplicate-node Duplicate
        button.delete-node Delete

      .nodes-tree-view

      .inspector.noSelection
        table.transform
          tr.position
            th.label  Position
            td
              .values
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.orientation
            th.label Orientation
            td
              .values
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.scale
            th.label Scale
            td
              .values
                input(type="number").x
                input(type="number").y
                input(type="number").z
        .components-buttons
          button.new-component New Component
        .components

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="../../componentEditors.js")
    script(src="index.js")
