doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

    template#component-cartridge-template
      .header
        .type
        button.shrink-component –
        button.delete-component ×
      table.settings.properties
        tbody

  body
    .main
      .controls
        .camera
          .title Camera
          .camera-mode
            label(for="toggle-camera-button") Mode
            button#toggle-camera-button 3D
          .camera-vertical-axis
            label(for="toggle-camera-vertical-axis") Up Axis
            button#toggle-camera-vertical-axis Y
          .camera-speed
            label(for="camera-speed-slider") Speed
            input#camera-speed-slider(type="range",min="0.05",max="2.0",step="0.05")
          .camera-2d-z(hidden)
            label(for="camera-2d-z") Z
            input#camera-2d-z(type="number",value="5")
        .transform-mode
          .title Transform
          div
            input#transform-mode-translate(type="radio",name="transformMode",value="translate",checked)
            label(for="transform-mode-translate",title="E") Move
            input#transform-mode-rotate(type="radio",name="transformMode",value="rotate")
            label(for="transform-mode-rotate",title="R") Rotate
            input#transform-mode-scale(type="radio",name="transformMode",value="scale")
            label(for="transform-mode-scale",title="T") Scale
            input#transform-space(type="checkbox")
            label(for="transform-space",title="L") Local
        .grid
          .title Grid
          div
            label(for="grid-step") Size
            input#grid-step(type="number",value="1",min="0")
            input#grid-visible(type="checkbox")
            label(for="grid-visible") Visible
        .light
          .title Light
          div
            input#show-light(type="checkbox")
      canvas(tabindex="0")

    .sidebar
      .nodes-buttons.flat-button-strip
        button(title="New actor (Ctrl+N)").new-actor
        button(title="New prefab (Ctrl+P)").new-prefab
        button(title="Rename (F2)",disabled).rename-node
        button(title="Duplicate (Ctrl+D)",disabled).duplicate-node
        button(title="Delete (Delete)",disabled).delete-node

      .nodes-tree-view

      .inspector(hidden)
        table.transform.properties
          tr.position
            th.label  Position
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.orientation
            th.label Orientation
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.scale
            th.label Scale
            td
              .inputs
                input(type="number").x
                input(type="number").y
                input(type="number").z
          tr.visible
            th.label Visible
            td
              input(type="checkbox")
          tr.layer
            th.label Layer
            td
              select
                option(value="0") Default
          tr.prefab
            th.label Prefab
            td
              div
                input
                button Open
        .components-buttons
          button.new-component New Component
        .components

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="../../componentEditors.js")
    script(src="index.js")
