doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      canvas(tabindex="0")

      .error-pane.collapsed
        .status
          .info No errors
          button.toggle.plus +

        .errors(disabled)
          table
            thead
              tr
                th Line
                th Type
                th Message
                th File
            tbody

    .sidebar
      table.properties
        tr.model
          th Model
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",multiple)

        tr.map
          th Texture
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",accept="image/*")
            button.download Download

        tr
          th Filtering
          td
            select.filtering
              option(value="pixelated") Pixelated
              option(value="smooth") Smooth

        tr
          th Wrapping
          td
            select.wrapping
              option(value="clampToEdge") Clamp To Edge
              option(value="repeat") Repeat
              option(value="mirroredRepeat") Mirrored Repeat

        tr
          th Show skeleton
          td
            input.show-skeleton(type="checkbox")

        tr
          th
            span Unit ratio
          td
            input(type="number" min="0").property-unitRatio

        tr
          th
            div
              div Opacity
              input(type="checkbox").opacity-checkbox
          td
            input(type="number" min="0" max="1" step="0.1").property-opacity

      .header
        span Animations
      .animations-buttons
        button.new-animation New
        form(style="display: none")
          input.file-select.upload-animation(type="file",multiple)
        button(disabled).upload-animation Upload
        button(disabled).rename-animation Rename
        button(disabled).delete-animation Delete

      .animations-tree-view

      .advanced-textures.collapsed
        .header
          .label Advanced Textures
          button.plus +
        .content
          table.properties
            tr
              th Map
              td
                input.map-map
            tr
              th Light map
              td
                input.map-light
            tr
              th Specular map
              td
                input.map-specular
            tr
              th Alpha map
              td
                input.map-alpha
            tr
              th Normal map (Phong)
              td
                input.map-normal

          .textures-buttons
            button.new-map New
            form(style="display: none")
              input.file-select.upload-map(type="file",multiple)
            button(disabled).upload-map Upload
            button(disabled).download-map Download
            button(disabled).rename-map Rename
            button(disabled).delete-map Delete
          .textures-tree-view

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="index.js")
