doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      canvas(tabindex="0")

      .error-pane.collapsed
        .status
          .info No errors
          button.toggle +

        .errors(disabled)
          table
            thead
              tr
                th Line
                th Type
                th Message
                th File
            tbody

    .sidebar
      table
        tr.model
          th Model
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",multiple)

        tr.map
          th Texture
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",accept="image/*")

        tr
          th Show skeleton
          td
            input.show-skeleton(type="checkbox")
        
        tr
          th
            span Opacity
            input(type="checkbox").opacity-checkbox
          td
            input(type="number" min="0" max="1" step="0.1").property-opacity

      .animations-buttons
        button.new-animation New
        form(style="display: none")
          input.file-select.upload-animation(type="file",multiple)
        button(disabled).upload-animation Upload
        button(disabled).rename-animation Rename
        button(disabled).delete-animation Delete

      .animations-tree-view

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
