doctype html
html
  head
    link(rel="stylesheet", href="/client/styles/reset.css")
    link(rel="stylesheet", href="index.css")
    title Home
  body
    .main
      .project-info
        // TODO: If in browser, add button to add to/open in Superpowers
      .chat
        ol
      .chat-input
        textarea(placeholder="Type here to chat",maxlength=300)
    .sidebar
      .tools
        .header Tools and Settings
        .content
          ul
      .links
        .header Links
        .content
          ul
            li
              a(href="https://sparklinlabs.com/",target="_blank") Official website
            li
              a(href="http://superpowers.bitbucket.org/",target="_blank") Getting started guide
            li
              a(href="http://www.typescriptlang.org/",target="_blank") Learn TypeScript
            li
              a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Development roadmap
            li
              | Skype groups: 
              a(href="https://sparklinlabs.com/skype/en",target="_blank") EN
              |  &middot; 
              a(href="https://sparklinlabs.com/skype/fr",target="_blank") FR
            li
      .members
        .header Online members
        .content
          ul

    script(src="/core/SupCore.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
