doctype html
html
  head
    link(rel="stylesheet", href="/client/styles/reset.css")
    link(rel="stylesheet", href="index.css")
    title Home
  body
    .main
      .project-info
        // TODO: If in browser, add button to add to/open in Superpowers
      .chat
        ol
      .chat-input
        textarea(placeholder="Type here to chat",maxlength=300)
    .sidebar
      .tools
        .header Tools and Settings
        .content
          ul
      .members
        .header Online members
        .content
          ul
      .links
        .header Links
        .content
          ul
            li
              a(href="https://sparklinlabs.com/",target="_blank") Superpowers website
            li
              a(href="http://superpowers.bitbucket.org/",target="_blank") Getting started with Superpowers
            li
              a(href="http://www.typescriptlang.org/",target="_blank") Learn TypeScript
            li
              a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank") Superpowers roadmap
            li
              a(href="https://sparklinlabs.com/skype/en",target="_blank") English Skype group
            li
              a(href="https://sparklinlabs.com/skype/fr",target="_blank") French Skype group

    script(src="/core/SupCore.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
