body
  padding 0.5em

table
  width 500px
  border-collapse collapse
  font-size 12px

  th, td
    border 1px solid #ccc

  th
    text-align left
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis
    font-weight normal
    background #eee
    padding 0 0.5em

  td input, td select
    width 100%
    margin 0
    padding 0.5em 0.25em
    border none
