@import "nib"

body
  display flex

.main
  flex 1
  display flex

  canvas
    flex 1

.sidebar
  display flex
  flex-direction column
  width 350px
  border-left 1px solid #aaa

  table
    padding 10px
    width 100%

    tr
      padding-bottom 10px

    th
      text-align center

    input
      width 50px

    .highlight-slider
      width 100px

  .buttons
    display flex

    input
      display none

      &:checked + label
        background-color #666666

    label
      flex 1
      text-align center

  .tileSet
    flex 1
    border-top 1px solid #aaa

  .layers-buttons
    display flex

    button
      flex 1
      font-size smaller
      white-space nowrap

  .layers-tree-view
    border-top 1px solid #aaa
    height 200px
    position relative
    background #fff
    overflow-y auto

    .tree
      position absolute

    .name
      white-space pre
      width 150px

