doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="/client/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      canvas(tabindex="0").map
      .status-bar
        label X:
        label.position-x 0
        label Y:
        label.position-y 0

    .sidebar
      table.properties
        tr
          th(colspan="2") Tile Map
        tr
          th Tile Set
          td
            input.property-tileSetId

        tr
          th Pixels /&nbsp;unit
          td
            input(type="number").property-pixelsPerUnit

        tr
          th Depth offset
          td
            input(type="number").property-layerDepthOffset

        tr
          th Size
          td
            input(readonly).property-size

        tr
          th(colspan="2") Tools
        tr
          th Map Actions
          td
            button.resize Resize
            button.move Move

        tr
          th(title="G") Grid
          td
            input(type="checkbox",checked).grid-checkbox

        tr
          th(title="I") Highlight
          td
            .inputs
              input(type="checkbox").highlight-checkbox
              input(type="range",value="40",min="0",max="100").highlight-slider

      .buttons
        input(type="radio",name="Tool",id="Brush",checked)
        label(title="B",for="Brush") Brush
        input(type="radio",name="Tool",id="Fill")
        label(title="F",for="Fill") Fill
        input(type="radio",name="Tool",id="Selection")
        label(title="S",for="Selection") Selection
        input(type="radio",name="Tool",id="Eraser")
        label(title="E",for="Eraser") Eraser

      canvas(tabindex="0").tileSet

      .header
        span Layers

      .layers
        .layers-buttons
          button.new-layer New layer
          button.rename-layer Rename
          button.delete-layer Delete

        .layers-tree-view

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
