doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    h1 Tile Map Default Settings
    table
      tr
        th Pixels per Unit
        td
          input(type="number").pixelsPerUnit

      tr
        th Width
        td
          input(type="number").width

      tr
        th Height
        td
          input(type="number").height

      tr
        th Depth Offset
        td
          input(type="number").layerDepthOffset

    h1 Tile Set Default Settings
    table
      tr
        th Grid Size
        td
          input(type="number").gridSize

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
