body
  display flex

nav
  width 250px
  overflow-y auto
  position fixed
  top 0
  background #ddd
  bottom 0

  ul
    list-style none
    margin 0
    padding 0.5em

  li
    padding 0
    margin 0

  a
    display block
    color #444
    padding 0.25em 0.5em
    text-decoration none

    &:hover
      background #ccc

    &:active
      color #fff

    &.active
      background #444
      color #eee

main
  margin-left 250px
  padding 1em
  flex 1

article
  flex 1
  display none
  &.active { display: block; }
  overflow-y auto
  
  > *:first-child
    margin-top 0
  
  h1
    text-transform uppercase
    font-size 2em
  h2
    font-size 1.5em