doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",href="index.css")
  body
    canvas(tabindex="-1")

    #loading
      a(href="https://sparklinlabs.com/",target="_blank")
        img(src="images/superpowers-splash.svg",draggable="false")
        progress(max="100",value="0")

    script(src="../api/SupAPI.js")
    script(src="../core/SupCore.js")
    script(src="../system/SupEngine.js")
    script(src="../system/SupRuntime.js")
    script(src="index.js")
