doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",href="index.css")
  body
    canvas(tabindex="-1")

    #loading
      a(href="http://superpowers-html5.com/",target="_blank")
        img(src="images/superpowers-splash.svg",draggable="false")
        progress(max="100",value="0")

    script(src="SupCore.js")
    script(src="SupEngine.js")
    script(src="SupRuntime.js")
