*
  min-width 0
  min-height 0

html, body
  height 100%

body
  margin 0
  display flex
  background #000
  -webkit-user-select none
  -moz-user-select none
  user-select none
  overflow hidden

#loading
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  color #444
  font-size 24px
  font-family sans-serif
  text-transform uppercase

  display flex
  flex-flow column
  align-items center
  justify-content center
  background #eee

  &.end a
    opacity 0

  &.start a
    opacity 1

  a
    opacity 0
    transition opacity 0.3s ease-out
    position relative
    text-decoration none
    color inherit
    > * { pointer-events: none }

  img
    width 540px
    height 160px
    max-width 100%

  progress
    background #c4c8b7
    border none
    width calc(370% / 540 * 100)
    height 3px
    position absolute
    bottom 26px
    right calc(30% / 540 * 100)

    &::-webkit-progress-bar
      background #d0d4c3
    &::-webkit-progress-value
      background #a5a49e
    &::-moz-progress-bar
      background #a5a49e

  .error
    text-align center
    padding 0 2em

canvas
  flex 1
  outline none
