doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="/plugins/sparklinlabs/textEditorWidget/widget/index.css")
    link(rel="stylesheet",href="index.css")

  body
    .text-editor-container
      textarea(disabled).text-editor

    .error-pane
      .status
        .draft
          button(title="Apply changes (Ctrl+S)") Save
          |  Draft &mdash;
        .info Loading...
        button.toggle –

      .errors(disabled)
        table
          thead
            tr
              th Line
              th Message
              th Script
          tbody

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/api/SupAPI.js")
    script(src="../../api.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="/plugins/sparklinlabs/textEditorWidget/data.js")
    script(src="/plugins/sparklinlabs/textEditorWidget/widget/index.js")
    script(src="index.js")
