doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      .spritesheet-container
        canvas(tabindex="0")

      .animation-container
        canvas(tabindex="0")

        .animation-control
          button(disabled).animation-play ▐ ▌
          input(disabled,type="range",value="0").animation-slider
          input#loop-checkbox(type="checkbox",checked).animation-loop
          label(for="loop-checkbox") Loop

    .sidebar
      table.properties
        tr
          th(colspan="2") Sprite
        tr
          th Texture
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",accept="image/*")

            button.download Download
        tr
          th Texture size (px)
          td.image-size
            input(type="text",readonly)
        tr
          th Grid width
          td
            .inputs
              input.property-grid-width(type="number")
              button.set-grid-width Set
        tr
          th Grid height
          td
            .inputs
              input.property-grid-height(type="number")
              button.set-grid-height Set
        tr
          th Origin (%)
          td
            .inputs
              input.property-origin-x(type="number")
              input.property-origin-y(type="number")

        tr
          th(colspan="2") Rendering
        tr
          th Pixels /&nbsp;unit
          td
            input(type="number",min="1").property-pixelsPerUnit
        tr
          th Filtering
          td
            select.property-filtering
              option(value="pixelated") Pixelated
              option(value="smooth") Smooth
        tr
          th
            div
              div Opacity
              input(type="checkbox").opacity-checkbox
          td
            input(type="number",min="0",max="1",step="0.1").property-opacity
        tr
          th Alpha test
          td
            input(type="number",min="0",max="1",step="0.1").property-alphaTest

        tr
          th(colspan="2") Animation
        tr
          th Frames /&nbsp;second
          td
            input(type="number",min="1").property-framesPerSecond

        tr
          th Frame order
          td
            select.property-frameOrder
              option(value="rows") Rows
              option(value="columns") Columns

      .header
        span Animations
      .animations-buttons
        button.new-animation New
        button(disabled).rename-animation Rename
        button(disabled).delete-animation Delete

      .animations-tree-view

      .advanced-textures.collapsed
        .header
          .label Advanced Textures
          button.plus +
        .content
          table.properties
            tr
              th Map
              td
                input.map-map
            tr
              th Light map
              td
                input.map-light
            tr
              th Specular map
              td
                input.map-specular
            tr
              th Alpha map
              td
                input.map-alpha
            tr
              th Normal map (Phong)
              td
                input.map-normal

          .textures-buttons
            button.new-map New
            form(style="display: none")
              input.file-select.upload-map(type="file",multiple)
            button(disabled).upload-map Upload
            button(disabled).download-map Download
            button(disabled).rename-map Rename
            button(disabled).delete-map Delete
          .textures-tree-view

    script(src="/SupCore.js")
    script(src="/system/SupEngine.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="/SupClient.js")
    script(src="index.js")
