@import "nib"

body
  display flex

.main
  flex 1
  display flex
  flex-direction column
  background #ccc

  .spritesheet-container
    min-height 100px
    flex 1
    display flex

    .spritesheet-canvas
      flex 1

  .animation-container
    min-height 100px
    height 300px
    display flex
    flex-direction column

    .animation-canvas
      flex 1

    .animation-control
      background #eee
      display flex
      justify-content center
      align-items center
      padding 10px

      .animation-play
        white-space nowrap
        width 40px
        line-height 1

        &:not(:disabled)
          color #444

      .animation-slider
        width 300px
        margin-left 10px
        margin-right 10px


.sidebar
  display flex
  flex-direction column
  width 250px
  border-left 1px solid #aaa

  .header
    background-color #444
    color #fff
    text-align center
    padding 2px

  table
    padding 10px

    tr
      padding-bottom 10px

    th
      width 150px
      text-align left

    td
      display inline-flex

    input
      width 100px

    .nested
      padding-left 25px

    .property-grid-width, .property-grid-height
      width 60px
      margin-right 10px

    .property-origin-x, .property-origin-y
      width 40px
      margin-left 10px

    .opacity-checkbox
      width 15px

  .advanced-textures
    min-height 250px
    height 350px

    .content
      display flex
      flex-flow column

    &.collapsed
      min-height 0 !important
      height auto !important
      .content { display: none; }

    .textures-buttons
      display flex

      button
        flex 1
        font-size smaller
        white-space nowrap

    .textures-tree-view
      border-top 1px solid #aaa
      flex 1
      position relative
      background #fff
      overflow-y auto

  // Animations tab
  .animations-buttons
    display flex

    button
      flex 1
      font-size smaller
      white-space nowrap

  .animations-tree-view
    border-top 1px solid #aaa
    flex 1
    position relative
    background #fff
    overflow-y auto
    min-height 100px

    .tree
      position absolute

    .name
      white-space pre
      width 150px

    input
      width 50px
      margin-right 5px

button.plus
  width 30px
  background transparent
  border none
  opacity 0.5
  font-size 20px
  font-weight bold
  cursor pointer
  color #fff

  &:hover
    opacity 1
    background-color rgba(0,0,0,0.1)

  &:active
    background-color #fff
    color #444

  &:disabled
    opacity 0.2
    cursor default