body
  display flex

.main
  flex 1
  flex-basis 0
  display flex
  flex-direction column
  background #ccc

  .spritesheet-container
    min-height 100px
    flex 1
    flex-basis 0
    display flex
    canvas { flex: 1; }

  .animation-container
    min-height 100px
    height 300px
    display flex
    flex-direction column
    canvas { flex: 1; }

    .animation-control
      background #eee
      display flex
      justify-content center
      align-items center
      padding 0.5em

      .animation-play
        white-space nowrap
        width 60px
        padding 0.5em
        line-height 1

        &:not(:disabled)
          color #444

      .animation-slider
        width 300px
        margin-left 10px
        margin-right 10px


.sidebar
  width 250px
  min-width 200px
  max-width 500px
  overflow-y hidden

  display flex
  flex-direction column

  .header
    background-color #444
    color #fff
    text-align center
    padding 5px

  .advanced-textures
    &.collapsable { min-height: 250px; }

    .header .label { flex: 1; }

    .content
      flex 1
      display flex
      flex-flow column

    .textures-buttons
      display flex

      button
        flex 1
        font-size smaller
        white-space nowrap

    .textures-tree-view
      border-top 1px solid #aaa
      flex 1
      position relative
      background #fff
      overflow-y auto

      .tree
        position absolute

  // Animations tab
  .animations
    display flex
    flex-flow column
    flex 1
    min-height 100px

    .animations-buttons
      display flex
  
      button
        flex 1
        font-size smaller
        white-space nowrap
  
    .animations-tree-view
      border-top 1px solid #aaa
      flex 1
      position relative
      background #fff
      overflow-y auto
  
      .tree
        position absolute
  
      .name
        white-space nowrap
        overflow-x hidden
        text-overflow ellipsis
        flex 1
  
      input
        width 40px
        margin-right 5px
