@import "nib"

body
  display flex

.main
  flex 1
  display flex
  flex-direction column
  background #ccc

  .spritesheet-container
    min-height 100px
    flex 1
    display flex

    .spritesheet-canvas
      flex 1

  .animation-container
    min-height 100px
    height 300px
    display flex
    flex-direction column

    .animation-canvas
      flex 1

    .animation-control
      background #eee
      display flex
      justify-content center
      padding 10px

      .animation-play
        white-space nowrap
        width 40px
        line-height 1
        margin-right 10px

        &:not(:disabled)
          color #444

      .animation-slider
        width 300px


.sidebar
  display flex
  flex-direction column
  width 250px
  border-left 1px solid #aaa

  table
    padding 10px

    tr
      padding-bottom 10px

    th
      width 150px
      text-align left

    td
      display inline-flex

    input
      width 100px

    .nested
      padding-left 25px

    .property-grid-width, .property-grid-height
      width 60px
      margin-right 10px

    .opacity-checkbox
      width 15px

  // Animations tab
  .animations-buttons
    display flex

    button
      flex 1
      font-size smaller
      white-space nowrap

  .animations-tree-view
    border-top 1px solid #aaa
    flex 1
    position relative
    background #fff
    overflow-y auto

    .tree
      position absolute

    .name
      white-space pre
      width 150px

    input
      width 50px
      margin-right 5px
