doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    h1 Game Settings

    table
      tr
        th Frames per Second
        td(colspan=2)
          input(type="number").framesPerSecond

      tr
        th Ratio
        td
          input(type="number",placeholder="Width").ratioNumerator
        td
          input(type="number",placeholder="Height").ratioDenominator

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
