doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="index.css")

  body
    nav
      ol

    main

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="index.js")
