body
  display flex

main
  flex 1

  > header
    font-size 2em
    background-color #eee
    color #666
    padding 0.25em 0.5em
    text-transform uppercase
    border-bottom 1px solid #aaa
    &:not(:first-child) { border-top: 1px solid #aaa; }

  > div
    display flex
    flex-wrap wrap

section
  padding 1em
  width calc(500px + 2em)

  header
    font-size 1.5em
    margin-bottom 0.5em

section table
  width 500px
  border-collapse collapse
  font-size 12px

  th, td
    border 1px solid #ccc

  th
    text-align left
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis
    font-weight normal
    background #eee
    padding 0 0.5em

  td input, td select, td textarea
    width 100%
    margin 0
    padding 0.5em 0.25em
    border none

  td select
    padding 0.25em 0

  td input[type=checkbox]
    width auto
    margin 0.5em
    cursor pointer

  td
    .inputs
      display flex

      input:not(:last-of-type)
        border-right 1px solid #ccc

    .list input:not(:last-of-type)
      border-bottom 1px solid #ccc

  td input.color
    font-family "Consolas", monospace
