@import "nib"

body
  display flex

canvas
  flex 1

.sidebar
  display flex
  flex-direction column
  width 250px
  border-left 1px solid #aaa

  table
    padding 10px

    tr
      padding-bottom 10px

    th
      width 150px
      text-align left

    td
      display inline-flex

    input
      width 100px
