@import "nib"

body
  display flex

.main
  flex 1
  display flex
  flex-direction row
  align-items center

  audio
    flex 1

.sidebar
  display flex
  flex-direction column
  width 250px
  border-left 1px solid #aaa
