doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      audio(controls)

    .sidebar
      table.properties
        tr
          th(colspan="2") Sound
        tr
          th File
          td
            button.upload Upload
            form(style="display: none")
              input.file-select(type="file",accept="audio/*")

            button.download Download

        tr
          th Streaming
          td
            select.property-streaming
              option(value="false") Disabled
              option(value="true") Enabled

    script(src="/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/SupClient.js")
    script(src="index.js")
