doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="../../../textEditorWidget/widget/index.css")
    link(rel="stylesheet",href="index.css")

  body
    .top
      .left
        .uniforms
          .header
            .info Uniforms
            .settings
              input#use-light-uniforms(type="checkbox")
              label(for="use-light-uniforms") Use lights
          .list
            table
              tr
                th Name
                th Type
                th Value
              tr.immutable
                td time
                td f
                td 0
              tr.new
                td
                  input(type="text",placeholder="New uniform")
                td
                td

        .attributes
          .header
            .info Attributes
          .list
            table
              tr
                th Name
                th Type
                th Value
              tr.new
                td
                  input(type="text",placeholder="New attribute")
                td
                td

      .preview
        .header
          .info Preview
          .settings
            select
              option Plane
              option Box
              option Sphere
              option Asset
            input.preview-asset-path(type="text",placeholder="Asset path",hidden)
        canvas(tabindex="0")

    .shaders
      .vertex
        .header
          button(title="Ctrl+S",hidden) Save
          .info Vertex Shader
        .text-editor-container
          textarea(disabled).text-editor
      .fragment
        .header
          button(title="Ctrl+S",hidden) Save
          .info Fragment Shader
        .text-editor-container
          textarea(disabled).text-editor

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../data.js")
    script(src="../../components.js")
    script(src="../../../textEditorWidget/data.js")
    script(src="../../../textEditorWidget/widget/index.js")
    script(src="../../../textEditorWidget/codemirror/mode/clike/clike.js")
    script(src="../../../sprite/data.js")
    script(src="../../../sprite/components.js")
    script(src="../../../model/data.js")
    script(src="../../../model/components.js")
    script(src="index.js")
