doctype html
html
  head
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="/client/styles/perfectResize.css")
    link(rel="stylesheet",href="/client/styles/treeView.css")
    link(rel="stylesheet",href="/client/styles/dialogs.css")
    link(rel="stylesheet",href="/plugins/sparklinlabs/textEditorWidget/widget/index.css")
    link(rel="stylesheet",href="index.css")

  body
    .top
      .left
        .uniforms
          span.header Uniforms
          .list
            table
              tr.grey
                td Name
                td Type
                td Value
              tr.grey
                td time
                td f
                td 0

          .new-uniform
            input(placeholder="New uniform")

        .attributes
          span.header Attributes
          .list
            table
              tr.grey
                td Name
                td Type
                td Value

          .new-attribute
            input(placeholder="New attribute")

      .preview
        .title
          span Preview
          select
            option Plane
            option Box
            option Sphere
            option Asset
          input
        canvas(tabindex="0")

    .shaders
      .vertex
        .header
          span Vertex Shader
          button(disabled title="Ctrl+S") Save
        .text-editor-container
          textarea(disabled).text-editor
      .fragment
        .header
          span Fragment Shader
          button(disabled title="Ctrl+S") Save
        .text-editor-container
          textarea(disabled).text-editor

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/system/SupEngine.js")
    script(src="../../components.js")
    script(src="/client/SupClient.js")
    script(src="/plugins/sparklinlabs/textEditorWidget/data.js")
    script(src="/plugins/sparklinlabs/textEditorWidget/widget/index.js")
    script(src="/plugins/sparklinlabs/sprite/data.js")
    script(src="/plugins/sparklinlabs/sprite/components.js")
    script(src="/plugins/sparklinlabs/model/data.js")
    script(src="/plugins/sparklinlabs/model/components.js")
    script(src="index.js")