doctype html
html
  head
    title TypeScript global search
    link(rel="stylesheet",href="/client/styles/reset.css")
    link(rel="stylesheet",href="index.css")

  body
    .search
      input(placeholder="Find in project")
      button Search
      span No result found
    
    .results

    script(src="/core/SupCore.js")
    script(src="../../data.js")
    script(src="/client/SupClient.js")
    script(src="index.js")
