doctype html
html
  head
    title TypeScript global search
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="index.css")

  body
    .search
      input(type="text",placeholder="Find in project")
      input#match-case-checkbox(type="checkbox")
      label(for="match-case-checkbox") Match case
      button Search
      span No results found

    .results

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="../../data.js")
    script(src="index.js")
