body
  display flex

.main
  flex 1
  display flex

  canvas
    flex 1

.sidebar
  display flex
  flex-flow column
  width 250px
  min-width 200px
  max-width 500px

  table.properties th
    width 100px

  .header
    background-color #444
    color #fff
    text-align center
    padding 2px

  // Properties tab
  .properties-buttons
    display flex

    button
      flex 1
      font-size smaller
      white-space nowrap

  .properties-tree-view
    flex 1
    position relative
    background #fff
    overflow-y auto

    .tree
      position absolute

    .name
      white-space pre
      width 100px

    input
      width 150px
      margin-right 5px
